<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles/index.css') }}">
</head>

<body>
    <p id="p1">Hello Folks!</p>
    <p id="p2">
        I'm SouvikBot! Made with love by
        <a href="https://www.github.com/SouvikGhosh05" target="blank_" style="text-decoration:none;">Souvik</a>.
    </p>

    <p class="bottxt">Click this image below to invite this bot to your server.</p>
    <div class="botbox">
        <a href="https://discord.com/oauth2/authorize?client_id=856808627485409310&permissions=2081160375&scope=bot" style="text-align: center;" target="blank_">
            <img src="https://www.freepnglogos.com/uploads/discord-logo-png/concours-discord-cartes-voeux-fortnite-france-6.png" class="botimg" style="text-align: center;"/>
        </a>
    </div>
    </body>
</html>